body {
  /*background: url("/images/backgrounds/hearthnode-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

a[ng-click]{
    cursor: pointer;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.signup-form {
  margin-top: 5%;
}

.signup-form input {
  margin-bottom: 10px;
}

.publish-form input, .publish-form textarea {
  margin-bottom: 10px;
}

.colorme-red{
  color: red;
}

.glyphicon-remove:hover {
  cursor: pointer;
  color: red;
}

.jumbotron {
  background-color: black;
  height: 425px;
  margin-top: 40px;
}

.splash {
  /*background: url("/images/banners/banner2.jpg") no-repeat center fixed;*/
  background: url("/images/banners/banner2.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.decks {
  /*background: url("/images/banners/banner3.jpg") no-repeat center fixed;*/
  background: url("/images/banners/banner3.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.user {
  background: url("/images/banners/blackrock-mountain-wallpaper.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-button {
  margin-bottom: 20px;
}

.sub-header {
  text-align: center;
}

.class-cards {
  display: inline-block;
}

.single-card img{
  width: 200px;
  height: 300px;
}

.card-container {
  /*background-color: black;*/
  height: 610px;
}

.card-scroller {
  overflow: scroll;
  /*white-space: nowrap;*/
  padding-left: 20px;
  height: 600px;
}

.stage-area {
  height: 100%;
  background: beige;
  overflow: auto;
}

.staged-card-length {
  margin-right: 10px;
  display: inline-block;
}

.submit-grayed {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgba(0, 0, 0, 0.5);
}

.submit-grayed:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.filter-input, .filter-input-number {
  width: 200px;
  display: inline-block;
}

.filter-input-number {
  width: 70px;
}
.footer {
  background-color: #f5f5f5;
  padding: 10px;
}
