<div ng-controller='ClassDeckController'>
  <div class="jumbotron decks">
      <div class="container">
        <!-- <h2 style="color: white">Decks IMG goes here</h2> -->
      </div>
  </div>
  <div class="container">
    <h1>{{deckClass}} Cards</h1>
    <label>Search By:</label>
    <br>
    <label>All</label>
    <input type="checkbox" ng-model='allFilters'>
    <br>
    <label>Card Name</label>
    <input type="checkbox" ng-model='cardName' ng-show='!allFilters'>
    <input type="text" class="form-control filter-input" ng-model='search.name' ng-show='cardName'>
    <input type="text" class="form-control filter-input" ng-model='search.name' ng-show='allFilters'>
    <label>Cost</label>
    <input type="checkbox" ng-model='cardCost' ng-show='!allFilters'>
    <input type="number" class="form-control filter-input-number" ng-model='search.cost' model-undefined ng-show='cardCost'>
    <input type="number" class="form-control filter-input-number" ng-model='search.cost' model-undefined ng-show='allFilters'>
    <label>Attack</label>
    <input type="checkbox" ng-model='cardAttack' ng-show='!allFilters'>
    <input type="number" class='form-control filter-input-number' ng-model='search.attack' model-undefined ng-show='cardAttack'>
    <input type="number" class='form-control filter-input-number' ng-model='search.attack' model-undefined ng-show='allFilters'>
    <div class="row card-container">
      <div class="card-scroller col-md-8">
        <div class="class-cards" ng-repeat='card in cards | filter:search'>
          <div class='single-card' ng-show='card.img'>
            <a ng-click='addCard(card)'>
            <img ng-src="{{card.img}}" alt="{{card.name}}" />
            </a>
          </div>
        </div>
      </div>
      <div class="stage-area col-md-4">
        <p>Card Staging Area</p>
        <h3 style='color: red;'>{{cardsMaxed}}</h3>
        <div class="container">
          <div class="row">
            <h3 class="staged-card-length">{{stagedCards.length || 0}}/30</h3>
            <input type="button" class="btn btn-primary" value="Create Deck!" ng-show='stagedCards.length == 30' ng-click='createDeck()'>
            <input type="button" class="btn submit-grayed" value="Add More to Create" ng-hide='stagedCards.length == 30'>
            <input type="button" class='btn btn-danger' value="Clear Deck" ng-show='stagedCards.length > 0' ng-click='clearDeck()'>
          </div>
        </div>
        <div ng-repeat='card in stagedCards track by $index'>
          <p>{{card.name}} <span class="glyphicon glyphicon-remove" ng-click='removeCard($index)'></span></p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>


</div>
