<div ng-controller='ClassDeckController'>
  <div class="jumbotron decks">
      <div class="container">
        <!-- <h2 style="color: white">Decks IMG goes here</h2> -->
      </div>
  </div>
  <div class="container">
    <h1>{{deckClass}} Cards</h1>
    <label>Search By:</label>
    <br>
    <label>All</label>
    <input type="checkbox" ng-model='allFilters'>
    <br>
    <label>Card Name</label>
    <input type="checkbox" ng-model='cardName'>
    <input type="text" class="form-control filter-input" ng-model='search.name' ng-show='cardName'>
    <input type="text" class="form-control filter-input" ng-model='search.name' ng-show='allFilters'>
    <label>Cost</label>
    <input type="checkbox" ng-model='cardCost'>
    <input type="number" class="form-control filter-input-number" ng-model='search.cost' model-undefined ng-show='cardCost'>
    <input type="number" class="form-control filter-input-number" ng-model='search.cost' model-undefined ng-show='allFilters'>
    <label>Attack</label>
    <input type="checkbox" ng-model='cardAttack'>
    <input type="number" class='form-control filter-input-number' ng-model='search.attack' model-undefined ng-show='cardAttack'>
    <input type="number" class='form-control filter-input-number' ng-model='search.attack' model-undefined ng-show='allFilters'>
    <div class="row card-container">
      <div class="card-scroller col-md-8">
        <div class="class-cards" ng-repeat='card in cards | filter:search'>
          <div class='single-card' ng-show='card.img'>
            <!-- <h1>{{card.name}}</h1> -->
            <img ng-src="{{card.img}}" alt="{{card.name}}" />
          </div>
        </div>
      </div>
      <div class="stage-area col-md-4">
        <p>Card Staging Area</p>
      </div>
    </div>
  </div>
    </div>
  </div>


</div>
