<div ng-controller='HomeController'>
  <div class="jumbotron">
      <div class="container">
        <h2 style="color: white">Splash IMG goes here</h2>
      </div>
  </div>
  <div class="container sub-header">
    <div class="row">
      <h3>Select Class</h3>
    </div>
    <div class="row">
      <a href="/deck/Warrior">
        <img src="/images/classes/garrosh_hellscream.png" alt="garrosh"/>
      </a>
      <a href="/deck/Shaman">
        <img src="/images/classes/thrall.png" alt="thrall"/>
      </a>
      <a href="/deck/Rogue">
        <img src="/images/classes/valeera_sanguinar.png" alt="valeera"/>
      </a>
    </div>
    <div class="row">
      <a href="/deck/Paladin">
        <img src="/images/classes/uther_lightbringer.png" alt="uther"/>
      </a>
      <a href="/deck/Hunter">
        <img src="/images/classes/rexxar.png" alt="rexxar"/>
      </a>
      <a href="/deck/Druid">
        <img src="/images/classes/malfurion_stormrage.png" alt="malfurion"/>
      </a>
    </div>
    <div class="row">
      <a href="/deck/Warlock">
        <img src="/images/classes/gul'dan.png" alt="guldan"/>
      </a>
      <a href="/deck/Mage">
        <img src="/images/classes/jaina_proudmoore.png" alt="jaina"/>
      </a>
      <a href="/deck/Priest">
        <img src="/images/classes/anduin_wrynn.png" alt="anduin"/>
      </a>
    </div>
  </div>
</div>
