<div ng-controller='HomeController'>
  <div class="jumbotron splash">
      <div class="container">
        <!-- <h2 style="color: white">Splash IMG goes here</h2> -->
      </div>
  </div>
  <div class="container sub-header">
    <div class="row">
      <h3>Select Class</h3>
    </div>
    <div class="row">
      <a href="/deck/Warrior">
        <img src="/images/classes/warrior.png" alt="garrosh"/>
      </a>
      <a href="/deck/Shaman">
        <img src="/images/classes/shaman.png" alt="thrall"/>
      </a>
      <a href="/deck/Rogue">
        <img src="/images/classes/rogue.png" alt="valeera"/>
      </a>
    </div>
    <div class="row">
      <a href="/deck/Paladin">
        <img src="/images/classes/paladin.png" alt="uther"/>
      </a>
      <a href="/deck/Hunter">
        <img src="/images/classes/hunter.png" alt="rexxar"/>
      </a>
      <a href="/deck/Druid">
        <img src="/images/classes/druid.png" alt="malfurion"/>
      </a>
    </div>
    <div class="row">
      <a href="/deck/Warlock">
        <img src="/images/classes/warlock.png" alt="guldan"/>
      </a>
      <a href="/deck/Mage">
        <img src="/images/classes/mage.png" alt="jaina"/>
      </a>
      <a href="/deck/Priest">
        <img src="/images/classes/priest.png" alt="anduin"/>
      </a>
    </div>
  </div>
</div>
