<div ng-controller='UserDeckController'>
  <div class="jumbotron user">
      <div class="container">
        <h1>User stuff</h1>
      </div>
  </div>
  <div class="container sub-header" ng-hide='hideMain'>
    <div class="row">
      <h1>{{userName}}'s Decks</h1>
    </div>
    <div class="row">
      <div class="class-cards" ng-repeat='deck in deckKeys'>
        <a ng-click='getDeck(deck)'>
          <img src="/images/classes/{{deck}}.png" alt="{{deck}}"/>
        </a>
      </div>
    </div>
  </div>
  <div class="container" ng-show='hideMain'>
    <h1>{{userName}}'s {{deckName}} Deck</h1>
    <input type="button" class="btn btn-info back-button" value="Back to Decks" ng-click='hideMain = false'>
    <div class="row card-container">
      <div class="card-scroller col-md-8">
        <div class="class-cards" ng-repeat='card in clickedDeck track by $index'>
          <div class="single-card">
            <img ng-src="{{card.img}}" alt="{{card.name}}"/>
          </div>
        </div>
      </div>
      <div class="stage-area col-md-4">
        <div class="container">
          <div class="row">
            <h3 class="staged-card-length">{{deckName}} Deck</h3>
              <!-- <input type="button" class="btn btn-primary" value="Create Deck!" ng-show='stagedCards.length == 30' ng-click='createDeck()'> -->
              <!-- <input type="button" class="btn submit-grayed" value="Create Deck" ng-hide='stagedCards.length == 30'> -->
              <!-- <input type="button" class='btn btn-danger' value="Clear Deck" ng-show='stagedCards.length > 0' ng-click='clearDeck()'> -->
              <input type="button" class="btn btn-warning" value="Edit Deck" ng-click='editing = true'>
            </div>
          </div>
        <div ng-repeat='card in clickedDeck track by $index'>
          <p>{{card.name}} <span ng-show='editing' class="glyphicon glyphicon-remove" ng-click='removeCard($index)'></span></p>
          <!-- display cost and other things -->
        </div>
      </div>
    </div>
  </div>
