<div ng-controller='UserDeckController'>
  <div class="jumbotron user">
      <div class="container">
      </div>
  </div>
  <div class="container publish-form" ng-show='publish'>
    <div class="row">
      <div class='col-md-8 col-md-offset-2'>
        <form name="userForm" ng-submit="publishDeck()" class='form-action'>
          <div class="form-group">
            <h1>Publish Deck</h1>
            <p>(doing so will make this deck and your username visable to everyone)</p>
            <label for="publishDeckName">Deck Name</label>
            <input autofocus type="text" class="form-control" ng-model='publishDeckName' id="publishDeckName" placeholder="Awesome Rush Deck" required>
            <label for="descript">Description</label>
            <textarea class="form-control" ng-model='deckDiscription' required></textarea>
            <button type="submit" class="btn btn-primary" ng-click='publish = false'>Publish Deck!</button>
            <button type="button" class="btn btn-default" ng-click='publish = false'>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container sub-header" ng-hide='hideMain'>
    <div class="row">
      <h1>{{userName}}'s Decks</h1>
    </div>
    <div class="row">
      <div class="class-cards" ng-repeat='deck in deckKeys track by $index'>
        <a ng-click='getDeck(deck)'>
          <img src="/images/classes/{{deck}}.png" alt="{{deck}}"/>
        </a>
      </div>
    </div>
  </div>
  <div class="container" ng-show='hideMain'>
    <h1>{{userName}}'s {{deckName}} Deck</h1>
    <input type="button" class="btn btn-info back-button" value="Back to Decks" ng-click='hideMain = false'>
    <div class="row card-container">
      <div class="card-scroller col-md-8">
        <div class="class-cards" ng-repeat='card in clickedDeck track by $index'>
          <div class="single-card">
            <img ng-src="{{card.img}}" alt="{{card.name}}"/>
          </div>
        </div>
      </div>
      <div class="stage-area col-md-4">
        <div class="container">
          <div class="row">
            <h3 class="staged-card-length">{{deckName}} Deck</h3>
              <input type="button" class="btn btn-primary" value="Publish Deck" ng-click='publish = !publish'>
              <input type="button" class="btn btn-danger" value="Delete Deck" ng-click='deleteDeck(deckName)'>
            </div>
          </div>
        <div ng-repeat='card in clickedDeck track by $index'>
          <p>{{card.name}}</p>
          <!-- display cost and other things -->
        </div>
      </div>
    </div>
  </div>
